.thankyou {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 min-width: 382px;

 flex-direction: column;
 font-family: "Fira Code";
 font-style: normal;
}

.thankyou h3 {
 margin-bottom: 10px;
 font-weight: 450;
 font-size: 26px;
 line-height: 34px;
 text-align: center;

 color: #ffffff;
}

.thankyou p {
 margin-bottom: 37px;
 font-weight: 450;
 font-size: 18px;
 line-height: 24px;
 text-align: center;

 color: #607b96;
}


@media (max-width: 390px) {
 .thankyou {
  min-width: 300px;
 }
}