.projects {
 height: calc(100vh - 114px);
 display: flex;
 justify-content: flex-start;
 align-items: center;
 border-left: 1px solid #1e2d3d;
 border-right: 1px solid #1e2d3d;
 overflow-y: scroll;
}

@media (max-width: 1000px) {
 .projects {
  /* height: calc(100vh - 114px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #1e2d3d;
  border-right: 1px solid #1e2d3d; */
  flex-direction: column;
 }
}
