.gameArea {
 position: relative;
 margin: 0;
 width: 200px;
 height: 400px;
 border: 2px solid #000;
 background: rgba(1, 22, 39, 0.84);
 box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
 border-radius: 8px;
}

.snakeDot {
 position: absolute;
 width: 8px;
 height: 8px;
 z-index: 2;
}

.snakeFood {
 position: absolute;
 width: 2%;
 height: 2%;
 z-index: 1;
 /* border: rebeccapurple solid 10px; */
}
