.blur {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 background: rgba(255, 255, 255, 0);
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(80px);
 -webkit-backdrop-filter: blur(80px);
 z-index: 11;
}

.mainContent {
 position: absolute;
 z-index: 22;
 /* border: red solid 1px; */
 height: calc(100vh - 114px);
 width: 100vw;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
