.snakeGameBoard {
 margin-left: 130px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 position: relative;
 width: 510px;
 height: 475px;
 background: linear-gradient(
  150.26deg,
  rgba(23, 85, 83, 0.7) 1.7%,
  rgba(67, 217, 173, 0.091) 81.82%
 );
 border: 1px solid #0c1616;
 box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(32px);
 border-radius: 8px;
}

.skrewBtn {
 position: absolute;
 width: 13px;
 height: 13px;
 border-radius: 50%;
 background: radial-gradient(
  73.08% 73.08% at 50% 26.92%,
  #196c6a 15.1%,
  #114b4a 100%
 );
 box-shadow: 2px 2px 4px #0d4341, inset 0px 1px 2px #1a8277;
 display: flex;
 justify-content: center;
 align-items: center;
}

.description {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}

.gameDes {
 padding: 13px;
 width: 181px;
 height: 142px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;

 background: rgba(1, 20, 35, 0.19);
 border-radius: 8px;
}

.gameDes p {
 font-family: "Fira Code";
 font-style: normal;
 font-weight: 450;
 font-size: 14px;
 line-height: 18px;
 text-align: left;

 color: #ffffff;
}

.arrowWrapper {
 margin: 2px;
 width: 49.08px;
 height: 28.69px;
 background: #010c15;
 border: 1px solid #1e2d3d;
 border-radius: 8px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.snakeFoods {
 padding: 13px;
 width: 181px;
 height: 142px;
 margin-top: 20px;
}

.snakeFoods p {
 margin-bottom: 10px;
}

.skipBtn {
 position: absolute;
 right: 50px;
 bottom: 45px;
 cursor: pointer;

 padding: 10px 14px;
 gap: 10px;

 width: 62px;
 height: 38px;

 border: 1px solid #ffffff;
 border-radius: 8px;

 font-family: "Fira Code";
 font-style: normal;
 font-weight: 450;
 font-size: 14px;
 line-height: 18px;
 text-align: right;

 color: #ffffff;

 background-color: #010c1500;
}

@media (max-width: 1340px) {
 .snakeGameBoard {
  margin-left: 70px;
 }
}

@media (max-width: 1160px) {
 .snakeGameBoard {
  margin-left: 30px;
 }
}

@media (max-width: 1150px) {
 .snakeGameBoard {
  display: none;
 }
}
