.main {
 font-family: "Fira Code";
 font-style: normal;
 user-select: none;
}

.main h3 {
 cursor: pointer;
 display: flex;
 justify-content: flex-start;
 align-items: center;

 font-weight: 400;
 font-size: 16px;
 line-height: 21px;

 color: #ffffff;
}

.main h3 span{
 margin: -1px 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}

.main ul li{
 cursor: pointer;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.main ul:last-child li:last-child{
margin-bottom: 30px;
}

.main ul{
 /* transition: .4s ease-in-out; */
}
