@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

html,
body {
 font-family: "Fira Code", monospace;
 color: white;
 background: #011627;
}

a {
 color: inherit;
 text-decoration: none;
}

*,
:after,
:before {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


/* width */
::-webkit-scrollbar {
 width: 26px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f100; 
 border-left: 1px solid #1e2d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #607B96; 
}

